.mobile {
    position: relative;
    height: 185em;

    @media screen and (orientation:landscape) {
        font-size: 0.114rem;
    }

    @media screen and (orientation:portrait) {
        font-size: 0.15vh;
    }

    .device_type_iphone {
        position: absolute;

        @media screen and (orientation:landscape) {
            left: -1.5vw;
            bottom: 0;
        }

        @media screen and (orientation:portrait) {
            bottom: 0;
        }
    }
}
