.particles {
    @media screen and (orientation:landscape) {
        width: 10rem;
        height: 7rem;
    }

    @media screen and (orientation:portrait) {
        width: 14vh;
        height: 10vh;
    }

    position: relative;
    animation: fade-in 0.5s @ease-in-out 0.2s 1 alternate both;
    opacity: 0;

    &__item {
        @media screen and (orientation:landscape) {
            width: 1rem;
            height: 1rem;
        }

        @media screen and (orientation:portrait) {
            width: 1.3vh;
            height: 1.3vh;
        }

        position: absolute;
        transform: translate(-50%, -50%);

        &_type_0 {
            background: @white;
        }

        &_type_1 {
            background: #8987B3;
        }

        &_type_2 {
            background: #FDDA2A;
        }

        &_type_3 {
            background: #09F0F0;
        }

        &_type_4 {
            background: #00B5A8;
        }
    }
}

@keyframes fade-in {
    from {opacity: 0}
    to {opacity: 1}
}
