.about {
    &__hero {
    }
    &__features {
        background-color: @white;
        margin: 0 -10vw;
        padding: 0 10vw;
        position: relative;

        &:after,
        &:before {
            content: '';
            position: absolute;
            left: -20rem;
            right: -20rem;
            height: 20rem;
            transform: rotate(9deg);
            background-color: @white;
            z-index: -1;
        }

        &:after {
            bottom: -9rem;
        }

        &:before {
            top: -9rem;
        }
    }

    .controls {
        margin: 20rem 0 10rem;
    }

    .button {
        @media screen and (orientation:landscape) {
            width: auto;
            padding: 0 2rem;
        }
    }
}

.hero {
    @media screen and (orientation:landscape) {
        margin-top: 10rem;
        margin-bottom: 20rem;
        position: relative;
    }

    @media screen and (orientation:portrait) {
        display: none;
    }

    &__text {
        @media screen and (orientation:landscape) {
            font-size: 2.8rem;
            letter-spacing: 1em / 100;
            line-height: 4rem;
            max-width: 40rem;
        }
    }

    &__img {
        .device, .particles {
            position: absolute;
            top: 0;
            transform-origin: top right;
            transform: scale(0.8);
        }

        .device_type_ipad {
            right: 0;
        }

        .device_type_iphone {
            right: 25rem;
        }

        .particles {
            top: 5rem;
            right: 14rem;
        }
    }
}

.features {
    &__item {
        width: 50%;
        padding-right: 50%;
        margin-bottom: 10rem;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            display: block;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 15rem;
            left: 50%;
            right: 0;
            top: 0;
            bottom: 0;
        }

        &_align_right {
            padding-left: 50%;
            padding-right: 0;
            &:after {
                left: 0;
                right: 50%;
            }
        }

        &:nth-child(1):after {
            background-image: data-uri('components/about/features__constraints.svg');
        }

        &:nth-child(2):after {
            background-image: data-uri('components/about/features__scale.svg');
        }

        &:nth-child(3):after {
            background-image: data-uri('components/about/features__speed.svg');
        }
    }

    &__caption {
        font-size: 2.8rem;
        background-image: data-uri('components/about/item-prefix.svg');
        color: #076FA8;
        background-repeat: no-repeat;
        background-position: center left;
        background-size: 5rem;
        padding-left: 6rem;
        box-sizing: border-box;
        margin-bottom: 2rem;
    }

    &__text {
        font-size: 2rem;
        color: #044568;
    }
}
