.header {
    @media screen and (orientation:landscape) {
        flex:  0 0 100%;
    }

    @media screen and (orientation:portrait) {
        flex:  0 0 auto;
    }
}

.brand {
    text-transform: uppercase;
    vertical-align: middle;

    @media screen and (orientation:landscape) {
        font-size: 2rem;
        line-height: 2rem;
        float: left;
    }

    @media screen and (orientation:portrait) {
        /* position: absolute; */
        font-size: 1.6rem;
        line-height: 1.6rem;
        text-align: center;
        padding-top: 3.6vh;
        /* left: 0; */
        /* right: 0; */
    }

    &__tele {
        color: @yellow;
        display: inline-block;
    }
    &__logo {
        @width: 423;
        @height: 291;

        background-image: data-uri('components/page/logo.svg');
        background-size: cover;
        display: inline-block;
        height: 0.80em;
        width: @width / @height * 0.80em;
        margin: 0 0.2em;
    }
    &__file {
        color: @light-blue;
        display: inline-block;
    }
}

.navbar {
    list-style-type: none;
    color: @white;
    text-transform: uppercase;
    font-size: 1.7rem;
    line-height: 2rem;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    display: block;

    @media screen and (orientation:portrait) {
        display: none;
    }

    &__item {
        padding: 0;
        margin: 0 2vw;
        display: inline-block;
        opacity: 0.8;
        position: relative;
        transition: opacity @duration @ease-in-out;

        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }

        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            top: -4rem;
            left: 0rem;
            right: 0rem;
            height: 1rem;
            background-color: @blue;
            transition: top @duration @ease-in-out;
        }

        &:hover {
            opacity: 1;

            &:before {
                top: -3.1rem;
            }
        }

        &_type_active {
            opacity: 1;

            &:hover {
                cursor: default;
            }

            &:before {
                background-color: @yellow;
                top: -3.1rem;
            }
        }
    }
}

.share {
    @duration: 0.4s;

    @media screen and (orientation:portrait) {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    &__list {
        list-style-type: none;
        color: @white;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        display: block;
        float: right;

        @media screen and (orientation:landscape) {
            height: 2rem;
        }

        @media screen and (orientation:portrait) {
            transition: opacity @duration @ease-in-out;

            :checked ~ & {
                .share__item {
                    transform: translateX(0);
                }
            }
        }
    }

    &__label {
        @media screen and (orientation:landscape) {
            display: none;
        }

        @media screen and (orientation:portrait) {
            cursor: pointer;
            width: 25vw;

            &, &:before {
                padding: 3.6vh 2.4vh;
                height: calc(~'1.5rem + 7.2vh');
                box-sizing: border-box;
                background-image: data-uri('components/header/share.svg');
                background-position: center right;
                background-repeat: no-repeat;
                background-size: 1.5rem;
                background-origin: content-box;
                float: right;
                position: relative;
                z-index: 1;
            }

            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom : 0;
                transform: translateX(25vw);
                transition: transform @duration @ease-in-out;
                background-color: @green;
                background-image: data-uri('components/header/close.svg');
            }

            :checked ~ &:before {
                transform: translateX(0);
            }
        }
    }

    &__checkbox {
        display: none;
    }

    &__item {
        padding: 0;
        margin: 0;
        cursor: pointer;
        display: inline-block;
        transition: all @duration @ease-in-out;

        @media screen and (orientation:landscape) {
            background-position: center;
            opacity: 0.8;
            margin: 0 1vw;
        }

        @media screen and (orientation:portrait) {
            width: 25vw;
        }


        &:last-child {
            margin-right: 0;
        }

        &:hover {
            opacity: 1;
        }
    }

    &__link {
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        background-origin: content-box;
        background-position: center right;
        text-decoration: none;

        @media screen and (orientation:portrait) {
            padding: 3.6vh 2.4vh;
            height: 1.5rem;
        }

        @media screen and (orientation:landscape) {
            width: 2rem;
            height: 2rem;
        }
    }

    &__twitter {
        @media screen and (orientation:portrait) {
            transform: translateX(100vw);
            background-color: @fb-twitter;
        }

        .share__link  {
            background-image: data-uri('components/page/twitter.svg');
        }
    }

    &__facebook {
        @media screen and (orientation:portrait) {
            transform: translateX(75vw);
            background-color: @fb-color;
        }

        .share__link  {
            background-image: data-uri('components/page/facebook.svg');
        }
    }

    &__linkedin {
        @media screen and (orientation:portrait) {
            transform: translateX(50vw);
            background-color: @fb-linkedin;
        }

        .share__link  {
            background-image: data-uri('components/page/linkedin.svg');
        }
    }
}
