.ripple {
    &:before {
        content: '';
        display: block;
        border-radius: 100%;
        position: absolute;
        width: 5rem;
        height: 5rem;
        top: -5rem;
        bottom: -5rem;
        left: -5rem;
        right: -5rem;
        margin: auto;
        background-color: rgba(255,255,255,0.2);
        pointer-events: none;
        transform: scale(10);
        opacity: 0;
        transition: all 500ms linear;
    }

    &:active:before {
        transform: scale(0);
        opacity: 1;
        transition: none;
    }
}

.button {
    overflow: hidden;
    letter-spacing: 0.64px;
    cursor: pointer;
    transition: all 100ms @ease-in-out;

    @media screen and (orientation:landscape) {
        font-size: 2.2rem;
        width: 18.2rem;
        border: 3px solid @white;
        box-shadow: @shadowZ1;
        background-color: rgba(0,0,0,0.10);
        padding: 1rem 0;
        line-height: 3rem;

        &:hover {
            background-color: rgba(255,255,255,0.1);
        }
    }

    @media screen and (orientation:portrait) {
        height: 57vw / 3;
        font-size: 2rem;
        line-height: 56vw / 3;
        text-align: center;
    }

    &__label {
        text-transform: uppercase;
        font-style: normal;
        text-shadow: @shadowZ1;
        text-align: center;
        .ripple;

        @media screen and (orientation:landscape) {
            display: block;
        }

        @media screen and (orientation:portrait) {
            vertical-align: middle;
        }
    }

    &_type_send {
        position: relative;

        @media screen and (orientation:portrait) {
            background: fade(black, 20);
        }

        .button__icon {
            .ripple;
            background-clip: content-box;
            border: 0.5rem solid transparent;
            background-image: data-uri('components/button/camera.svg');
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            display: block;
            background-size: contain;
            background-repeat: no-repeat;
            width: 2.4rem;
            height: 2rem;

            @media screen and (orientation:landscape) {
                right: 1.5rem;
            }

            @media screen and (orientation:portrait) {
                right: calc(~'10vw - 1.2rem');
            }
        }
    }

    &_type_receive {
        position: relative;

        @media screen and (orientation:portrait) {
            background: overlay(fade(black, 20), fade(black, 20));
        }

        .button__input {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            z-index: 1;
            outline: none;
            display: block;
            border: none;
            padding: 0;
            background: transparent;
            text-align: center;
            opacity: 0;
            cursor: pointer;

            &:focus {
                opacity: 1;
            }

            // combining all pseudo selectors together – doesn't work
            &::-webkit-input-placeholder {
                /* color: fade(@white, 50%); */
                color: @grey;
            }
            &::-moz-placeholder {
                /* color: fade(@white, 50%); */
                color: @grey;
            }
            &:-ms-input-placeholder {
                /* color: fade(@white, 40%); */
                color: @grey;
            }
        }
        .button__input:focus + .button__label {
            opacity: 0;
        }
    }
}
